<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    {% block body %}
    <div class="flex-column">
      <p>Add Image</p>
      <form
        action="{{ url_for('addImage') }}"
        enctype="multipart/form-data"
        method="POST"
      >
        <input type="file" name="img" />
        <button>Submit</button>
      </form>
    </div>
    <div class="flex-column">
      <div>
        <p>Added Images</p>
        <form action="/resetImages" method="post">
          <button id="resetImagesBtn" type="submit">Reset images</button>
        </form>
      </div>
      <div id="addedImagesDiv">
        {%for img in images%}
        <img src="{{img}}" alt="" />
        {%endfor%}
      </div>
    </div>
    <div class="flex-column">
      <p>Operation</p>
      <select name="Operation" id="selectedOperation">
        <option value="brighten">Brighten</option>
        <option value="darken">Darken</option>
      </select>
    </div>
    <div>
      <button id="startProcessingBtn">Start Processing</button>
    </div>
    <div class="flex-column">
      <p>Output</p>
      <div id="outputDiv">
        <!-- {% if img %}
                <img src={{img}} alt="">
            {% endif %} -->
      </div>
    </div>
    {% endblock %}
  </body>
</html>
